@charset "UTF-8";

@font-face {
    font-family: 'PassionOne-Bold';
    src: url(fontes/Passion_One/PassionOne-Bold.ttf)
}
@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha/Sriracha-Regular.ttf);
}


*{

}


body{
    background-color: black;
    margin: 0;
    padding: 0;
    
}


header {
    text-align: center;
    color: white;
    font-family: 'PassionOne-Bold', Verdana, Tahoma, sans-serif;
    font-size: 150%;
    font-variant: small-caps;

    
}
header > p{
    font-family:'Courier New', Courier, monospace ;
    font-size: 0.6em;

}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}

a:hover{
    text-decoration: underline;

}

abbr{
    text-decoration: none;
}



.primeira{
    position: relative;
    
    background-image: url(imagens/background001.jpg) ;
    background-size: cover ;
    background-attachment: fixed;
    background-position: center center ;
    
    
   
}
.segunda{
    background: url(imagens/background002.jpg) center left no-repeat ;
    background-size: cover ;
    background-attachment: fixed;
}

div{
    text-align: left;
    text-indent: 20px;
   height: auto;
   padding-top: 10vh;
   padding-bottom: 10vh ;
   width: auto;
   font-family: 'Sriracha';
   
    
}

div.pri{
    
    background-color: white;
    

    
}

div.seg{
    padding: 17px;
    

    
}
.seg2{
    display: block;
    background-color: rgba(255, 255, 255, 0.075);
    width: 100%;
    color: white;
    max-width: 220px;
    text-indent: 2px;
    padding-top: 0.5px;
   padding-bottom: 0.5px;
    
    
    
}


div.ter{
    background-color: white;
    
}

div.qua{
    padding:17px ;
    

    
}

.qua2{

    background-color: rgba(71, 63, 63, 0.356);
    width: 100%;
    color: white;
    max-width: 220px;
    text-indent: 2px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
     
}

div.qui{
    background-color: white;
    

    
}
footer{
    color: white;
    text-align: center;

}

